<template>
  <div class="body">
    <div class="upload">
      <div class="title">
        <van-button class="back" round type="plus" @click="back"
          >back</van-button
        >
        Edit Resident
      </div>
      <form class="form" @submit.prevent="submit">
        <div class="form-group">
          <input
            type="text"
            class="form-control form-control-lg"
            v-model="starInfo.name"
            placeholder="Name"
          />
          <div v-show="errors.name" class="error-inform">
            {{ errors.name }}
          </div>
        </div>
        <div class="form-group">
          <textarea
            type="text"
            class="form-control form-control-lg"
            v-model="starInfo.introduce"
            placeholder="introduce..."
          />
          <div v-show="errors.introduce" class="error-inform">
            {{ errors.message }}
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control form-control-lg"
            v-model="starInfo.remark"
            placeholder="remark"
          />
          <div v-show="errors.remark" class="error-inform">
            {{ errors.remark }}
          </div>
        </div>
        <van-button round type="primary">submit</van-button>
      </form>
      <div class="form-group">
        <div class="photos" v-for="photo in photos" :key="photo.index">
          <td><img :src="photo.destination" /></td>
          <td>
            <van-button
              size="small"
              round
              @click="deletePhoto(photo._id)"
              type="danger"
              loading-text="deleting..."
              >remove</van-button
            >
          </td>
        </div>
        <van-uploader
          v-model="fileList"
          multiple
          :max-count="10"
          :max-size="5000 * 1024"
          @oversize="onOversize"
        >
        </van-uploader>
        <van-button @click="uploadPhotos" round type="info"
          >upload photos</van-button
        >
      </div>
      <div class="form-group">
        <div class="avatar" v-if="avatar.destination">
          <td><img :src="avatar.destination" /></td>
          <td>
            <van-button
              size="small"
              round
              @click="deleteAvatar"
              type="danger"
              loading-text="deleting..."
              >remove</van-button
            >
          </td>
        </div>
        <div class="avatarUpload">
          <van-uploader
            v-model="fileListAvatar"
            multiple
            :max-count="1"
            :max-size="5000 * 1024"
            @oversize="onOversize"
          >
          </van-uploader>
          <van-button @click="uploadAvatar" round type="info"
            >upload avatar</van-button
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import qs from "qs";
import { Toast } from "vant";

export default {
  name: "AddResident",
  components: {},
  data() {
    return {
      errors: {},
      fileList: [],
      fileListAvatar: [],
      photos: [],
      avatar: {},
      starInfo: {
        name: "",
        introduce: "",
        remark: "",
      },
    };
  },
  created() {
    this.getStar();
  },
  methods: {
    deletePhoto(id) {
      this.$axios
        .delete(
          "http://localhost:5000/star/photo/?star_id=" +
            this.$route.query.id +
            "&photo_id=" +
            id
        )
        .then((res) => {
          this.getStar();
        })
        .catch((err) => {
          if (err.response.data) {
            alert(JSON.stringify(err.response.data));
          }
        });
    },
    deleteAvatar() {
      this.$axios
        .delete("http://localhost:5000/star/avatar?star_id="+this.$route.query.id)
        .then((res) => {
          this.getStar();
        })
        .catch((err) => {
          if (err.response.data) {
            alert(JSON.stringify(err.response.data));
          }
        });
    },
    getStar() {
      axios
        .get("http://localhost:5000/star/?star_id=" + this.$route.query.id)
        .then((res) => {
          this.starInfo.name = res.data.name;
          this.starInfo.introduce = res.data.introduce;
          this.starInfo.remark = res.data.remark;
          this.photos = res.data.photos;
          if (res.data.avatar.destination) {
            this.avatar = res.data.avatar;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    uploadPhotos() {
      if (!this.fileList.length) {
        return alert("files empty!");
      }
      let form = new FormData();
      if (Array.isArray(this.fileList)) {
        this.fileList.forEach((file) => {
          form.append("photos", file.file);
        });
      } else {
        form.append("photos", this.fileList.file);
      }
      this.$axios
        .post(
          "http://localhost:5000/star/photo/?star_id=" + this.$route.query.id,
          form
        )
        .then((res) => {
          this.fileList = [];
          this.getStar();
        })
        .catch((err) => {
          if (err.response.data) {
            alert(JSON.stringify(err.response.data));
          }
        });
    },
    submit() {
      let forms = new FormData();
      forms.append("name", this.starInfo.name);
      forms.append("introduce", this.starInfo.introduce);
      forms.append("remark", this.starInfo.remark);

      this.$axios
        .post(
          "http://localhost:5000/star/updateInfo?star_id=" +
            this.$route.query.id,
          forms
        )
        .then((res) => {
          alert("edit succeed!");
          this.$router.push({ name: "Resident" });
        })
        .catch((err) => {
          // if (err.response.data) {
          //   this.errors = err.response.data;
          //   console.log(err.response.data);
          // }else{
          //   console.log(err);
          // }
          console.log(err);
        });
    },
    uploadAvatar() {
      if (!this.fileListAvatar.length) {
        return alert("files empty!");
      }
      let form = new FormData();
      form.append("avatar", this.fileListAvatar[0].file);
      this.$axios
        .post(
          "http://localhost:5000/star/avatar?star_id=" + this.$route.query.id,
          form
        )
        .then((res) => {
          this.fileListAvatar = [];
          this.getStar();
        })
        .catch((err) => {
          if (err.response.data) {
            alert(JSON.stringify(err.response.data));
          }
        });
    },
    onOversize() {
      Toast("file cannot bigger than 5mb");
    },
    back() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scoped>
.body {
  background-image: url(../../assets/background.jpg);
  height: 100%;
  position: absolute;
  width: 100%;
}
.body .upload {
  text-align: center;
  margin-top: 15%;
}
.body .form {
  text-align: center;
}
.form-group {
  margin: 30px;
}
.form-group .form-control {
  width: 400px;
}
.form-group .error-inform {
  color: rgb(240, 6, 37);
  float: bottom;
}
.back {
  width: 100px;
  height: 30px;
  background: #3cf;
  position: relative;
  top: -10px;
  left: -10px;
  line-height: 30px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}
.title {
  color: white;
}
.photos td {
  float: left;
  color: white;
}
</style>