<template>
  <div class="body">
    <div class="panel-heading">Residents</div>
    <table class="table-contact">
      <thead>
        <tr>
          <th>Name</th>
          <th>Avatar</th>
          <th>Introduce</th>
          <th>Remark</th>
          <th>Photos</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="star in stars" :key="star.index">
          <td>{{ star.name }}</td>
          <td><img :src="star.avatar" /></td>
          <td>{{ star.introduce }}</td>
          <td>{{ star.remark }}</td>
          <td>
            <div v-for="photo in star.photos" :key="photo.index">
              <img :src="photo.destination" />
            </div>
          </td>
          <td>
            <van-button
              size="small"
              round
              @click="editStar(star._id)"
              type="info"
              loading-text="editing..."
              >edit</van-button
            >
          </td>
          <td>
            <van-button
              size="small"
              round
              @click="deleteStar(star._id)"
              type="danger"
              loading-text="deleting..."
              >remove</van-button
            >
          </td>
        </tr>
      </tbody>
    </table>
    <div class="button-bottom">
      <van-button
        size="small"
        @click="addStar()"
        type="info"
        loading-text="loading..."
        >add resident</van-button
      >
      <van-button
        size="small"
        @click="deleteAll()"
        type="danger"
        loading-text="deleting..."
        >clear</van-button
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "Resident",
  data() {
    return {
      stars: [],
    };
  },
  methods: {
    getStars() {
      this.$axios
        .get("http://localhost:5000/star/all")
        .then((res) => {
          this.stars = Array.reverse(res.data);
        })
        .catch((err) => {
          if (err.response.data) {
            console.log(err.response).data;
          }
        });
    },
    deleteStar(id) {
      this.$axios
        .delete("http://localhost:5000/star/", {
          params: { star_id: id },
        })
        .then((res) => {
          this.getStars();
        })
        .catch((err) => {
          if (err.response.data) {
            alert(err.response.data.database);
          }
        });
    },
    deleteAll() {
      this.$axios
        .delete("http://localhost:5000/star/deleteAll")
        .then(() => {
          this.getStars();
        })
        .catch((err) => {
          if (err.response.data) {
            alert(err.response.data.database);
            console.log(err.response.data.database);
          }
        });
    },
    addStar() {
      this.$router.push("/addResident");
    },
    editStar(id){
      this.$router.push({path:"/editResident",query:{id:id}});
    }
  },
  created() {
    this.getStars();
  },
};
</script>

<style>
.body {
  background-image: url(../../assets/background.jpg);
  height: 100%;
  position: absolute;
  width: 100%;
}
.table-contact {
  margin: auto;
  text-align: center;
  color: white;
}
.button-bottom {
  margin-left: 50%;
}
.table-contact img {
  height: 40px;
  width: 40px;
}
</style>