<template>
  <div class="body">
    <div class="panel-heading">Contact Records</div>
    <table class="table-contact">
      <thead>
        <tr>
          <th>Date</th>
          <th>Subject</th>
          <th>Message</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="contact in contacts" :key="contact.index">
          <td>{{ contact.date }}</td>
          <td>{{ contact.subject }}</td>
          <td>{{ contact.message }}</td>
          <td>{{ contact.mobile }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.name }}</td>
          <td>
            <van-button
              size="small"
              round
              @click="updateContact(contact._id)"
              type="info"
              loading-text="updating..."
              >update</van-button
            >
          </td>
          <td>
            <van-button
              size="small"
              round
              @click="deleteContact(contact._id)"
              type="danger"
              loading-text="deleting..."
              >remove</van-button
            >
          </td>
        </tr>
      </tbody>
    </table>
    <div class="button-bottom">
        <van-button
        size="small"
        @click="addContact()"
        type="info"
        loading-text="loading..."
        >add reservation</van-button
        >
      <van-button
        size="small"
        @click="deleteAll()"
        type="danger"
        loading-text="deleting..."
        >clear</van-button
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "Contact",
  data() {
    return {
      contacts: [],
    };
  },
  methods: {
    getContact() {
      this.$axios
        .get("http://localhost:5000/contact/all")
        .then((res) => {
          this.contacts = Array.reverse(res.data) ;
        })
        .catch((err) => {
          if (err.response.data) {
            console.log(err.response).data;
          }
        });
    },
    deleteContact(id) {
      this.$axios
        .delete("http://localhost:5000/contact/deleteOne", {
          params: { id: id },
        })
        .then((res) => {
          this.getContact();
        })
        .catch((err) => {
          if (err.response.data) {
            alert(err.response.data.database);
          }
        });
    },
    deleteAll() {
      this.$axios
        .delete("http://localhost:5000/contact/")
        .then(() => {
          this.getContact();
        })
        .catch((err) => {
          if (err.response.data) {
            alert(err.response.data.database);
            console.log(err.response.data.database);
          }
        });
    },
    addContact(){
        this.$router.push('/addContact')
    },
    updateContact(id){
        this.$router.push({path:'/editContact', query:{id:id} })
    }
  },
  created() {
    this.getContact();
  },
};
</script>

<style>
.body {
  background-image: url(../../assets/background.jpg);
  height: 100%;
  position: absolute;
  width: 100%;
}
.table-contact {
  margin: auto;
  text-align: center;
  color: white;
}
.button-bottom{
    margin-left: 50%;
}
</style>