<template>
  <div class="body">
    <div class="title">
      <van-button class="back" round type="plus" @click="back">back</van-button>
      edit reservation</div>
    <form class="form" @submit.prevent="submit">
      <div class="form-group">
        <input
          type="text"
          class="form-control form-control-lg"
          v-model="contactInfo.subject"
          placeholder="Subject"
        />
        <div v-show="errors.subject" class="error-inform">
          {{ errors.subject }}
        </div>
      </div>
      <div class="form-group">
        <textarea
          type="text"
          class="form-control form-control-lg"
          v-model="contactInfo.message"
          placeholder="Content..."
        />
        <div v-show="errors.message" class="error-inform">
          {{ errors.message }}
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control form-control-lg"
          v-model="contactInfo.name"
          placeholder="Name"
        />
        <div v-show="errors.name" class="error-inform">
          {{ errors.name }}
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control form-control-lg"
          v-model="contactInfo.mobile"
          placeholder="Your phone number (Thai)"
        />
        <div v-show="errors.mobile" class="error-inform">
          {{ errors.mobile }}
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control form-control-lg"
          v-model="contactInfo.email"
          placeholder="Email Address"
        />
        <div v-show="errors.email" class="error-inform">
          {{ errors.email }}
        </div>
      </div>
      <input type="submit" class="btn btn-info mt-4" value="Submit" />
    </form>
  </div>
</template>

<script>
import axios from "axios";

// import qs from 'qs'
export default {
  name: "Contact",
  components: {},
  data() {
    return {
      errors: {},
      contactInfo: {
        name: "",
        mobile: "",
        email: "",
        subject: "",
        message: "",
      },
    };
  },
  methods: {
    submit() {
      //用于post的方式为multipart/form-data时
      let data = new FormData();
      data.append("name", this.contactInfo.name);
      data.append("mobile", this.contactInfo.mobile);
      data.append("email", this.contactInfo.email);
      data.append("subject", this.contactInfo.subject);
      data.append("message", this.contactInfo.message);
      this.$axios
        .post("http://localhost:5000/contact/update/?contact_id="+this.$route.query.id, data)
        .then(() => {
          this.errors = "";
          this.$router.push("/contact");
        })
        .catch((err) => {
          this.errors = err.response.data;
          console.log(this.errors);
        });
    },
    getContact(){
      this.$axios.get('http://localhost:5000/contact/?contact_id='+this.$route.query.id)
      .then(res=>{
        this.contactInfo = res.data
      }).catch(err=>{
        console.log(err);
      })
    },
    back() {
      this.$router.go(-1);
    },
  },
  created(){
    this.getContact()
  }
};
</script>

<style scoped>
.body {
  background-image: url(../../assets/background.jpg);
  height: 100%;
  position: absolute;
  width: 100%;
}
.body .form {
  text-align: center;
}
.form-group {
  margin: 30px;
}
.form-group .form-control {
  width: 400px;
}
.form-group .error-inform {
  color: rgb(240, 6, 37);
  float: bottom;
}
.title{
  text-align: center;
  font-size: 30px;
  color:white;
    margin-top: 20%;
}
.back {
  width:100px; height:30px; background:#3cf; position:relative;top:-10px; left:-10px; line-height:30px; font-size:16px; color:#FFFFFF; text-align:center; font-weight:bold;
}
</style>