<template>
  <div class="body">
    <div class="panel-heading">Activity</div>
    <table class="table-contact">
      <thead>
        <tr>
          <th>title</th>
          <th>content</th>
          <th>date</th>
          <th>Photos</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="activity in activities" :key="activity.index">
          <td>{{ activity.title }}</td>
          <td>{{ activity.content }}</td>
          <td>{{ activity.date }}</td>
          <td>
            <div v-for="photo in activity.photos" :key="photo.index">
              <img :src="photo.destination" />
            </div>
          </td>
          <td>
            <van-button
              size="small"
              round
              @click="editActivity(activity._id)"
              type="info"
              loading-text="editing..."
              >edit</van-button
            >
          </td>
          <td>
            <van-button
              size="small"
              round
              @click="deleteActivity(activity._id)"
              type="danger"
              loading-text="deleting..."
              >remove</van-button
            >
          </td>
        </tr>
      </tbody>
    </table>
    <div class="button-bottom">
      <van-button
        size="small"
        @click="addActivity()"
        type="info"
        loading-text="loading..."
        >add activity</van-button
      >
      <van-button
        size="small"
        @click="deleteAll()"
        type="danger"
        loading-text="deleting..."
        >clear</van-button
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "Activity",
  data() {
    return {
      activities: [],
    };
  },
  methods: {
    getActivity() {
      this.$axios
        .get("http://localhost:5000/party/all")
        .then((res) => {
          this.activities = Array.reverse(res.data);
        })
        .catch((err) => {
          if (err.response.data) {
            console.log(err.response).data;
          }
        });
    },
    deleteActivity(id) {
      this.$axios
        .delete("http://localhost:5000/party/delete/", {
          params: { party_id: id },
        })
        .then((res) => {
          this.getActivity();
        })
        .catch((err) => {
          if (err.response.data) {
            alert(err.response.data.database);
          }
        });
    },
    deleteAll() {
      this.$axios
        .delete("http://localhost:5000/party/deleteAll")
        .then(() => {
          this.getActivity();
        })
        .catch((err) => {
          if (err.response.data) {
            alert(err.response.data.database);
            console.log(err.response.data.database);
          }
        });
    },
    addActivity() {
      this.$router.push("/addActivity");
    },
    editActivity(id) {
      this.$router.push({ path: "/editActivity", query: { id: id } });
    },
  },
  created() {
    this.getActivity();
  },
};
</script>

<style>
.body {
  background-image: url(../../assets/background.jpg);
  height: 100%;
  position: absolute;
  width: 100%;
}
.table-contact {
  margin: auto;
  text-align: center;
  color: white;
}
.button-bottom {
  margin-left: 50%;
}
.table-contact img {
  height: 40px;
  width: 40px;
}
.panel-heading {
  text-overflow: ellipsis;
	-o-text-overflow:ellipsis;
	overflow: hidden;
}
</style>