<template>
  <div class="body">
    <div class="upload">
      <div class="title">
        <van-button class="back" round type="plus" @click="back"
          >back</van-button
        >
        add Activity
      </div>
      <form class="form" @submit.prevent="submit">
        <div class="form-group">
          <input
            type="text"
            class="form-control form-control-lg"
            v-model="activityInfo.title"
            placeholder="Title"
          />
          <div v-show="errors.title" class="error-inform">
            {{ errors.title }}
          </div>
        </div>
        <div class="form-group">
          <textarea
            type="text"
            class="form-control form-control-lg"
            v-model="activityInfo.content"
            placeholder="content"
          />
          <div v-show="errors.content" class="error-inform">
            {{ errors.content }}
          </div>
        </div>

        <van-uploader
          v-model="fileList"
          multiple
          :max-count="10"
          :max-size="5000 * 1024"
          @oversize="onOversize"
        >
          <van-button round icon="plus" type="info">upload photos</van-button>
        </van-uploader>
        <van-button round type="primary">submit</van-button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import qs from "qs";
import { Toast } from 'vant';

export default {
  name: "AddActivity",
  components: {},
  data() {
    return {
      errors: {},
      fileList: [],
      avatar: [],
      activityInfo: {
        title: "",
        content: "",
      },
    };
  },
  methods: {
    submit() {
      let forms = new FormData();
      forms.append("title", this.activityInfo.title);
      forms.append("content", this.activityInfo.content);
      if (Array.isArray(this.fileList)) {
        this.fileList.forEach((file) => {
          forms.append("photos", file.file);
        });
      } else {
        forms.append("photos", this.fileList.file);
      }

      this.$axios
        .post("http://localhost:5000/party/", forms)
        .then((res) => {
          this.$router.push({ name: "Activity" });
        })
        .catch((err) => {
          if (err.response.data) {
            this.errors = err.response.data;
          }
        });
    },
    onOversize() {
      Toast("file cannot bigger than 5mb");
    },
    back() {
      this.$router.go(-1)
    },
  },
};
</script>

<style scoped>
.body {
  background-image: url(../../assets/background.jpg);
  height: 100%;
  position: absolute;
  width: 100%;
}
.body .upload {
  text-align: center;
  margin-top: 25%;

}
.body .form {
  text-align: center;
}
.form-group {
  margin: 30px;
}
.form-group .form-control {
  width: 400px;
}
.form-group .error-inform {
  color: rgb(240, 6, 37);
  float: bottom;
}
.back {
  width: 100px;
  height: 30px;
  background: #3cf;
  position: relative;
  top: -10px;
  left: -10px;
  line-height: 30px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}
.title{
  color:white
}
</style>