<template>
  <div class="foot">© 2020 Microsoft</div>
</template>

<script>
export default {
  name: "Footer",
};
</script>

<style scoped>
.foot {
  background: rgba(30, 0, 63, 0.651);
  color: aliceblue;
  font-size: 20px;
  width: 100%;
  position: absolute;
  bottom: 0%;
  text-align: center;
}
</style>