<template>
  <div class="body">
    <img class="logo" src="../assets/logo.png" alt="">
    <div class="title">
      Shop management page
    </div>
  </div>
</template>

<script>
export default {
  name: 'Index',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.body{
  background-image: url(../assets/background.jpg);
  height: 100%;
  position: absolute;
  width: 100%;
}
.title{
  color: white;
  font-family:'Courier New';
  font-size: 40px;
}
</style>
