<template>
  <div class="header">
    <van-row class="menu" type="flex" justify="space-between">
      <van-col span="4"
        ><router-link class="item" to="/">Main page</router-link></van-col
      >
      <van-col span="4"
        ><router-link class="item" to="/gallery">Gallery</router-link></van-col
      >
      <van-col span="4"
        ><router-link class="item" to="/activity">Activities</router-link></van-col
      >
      <van-col span="4"
        ><router-link class="item" to="/resident">Residents</router-link></van-col
      >
      <van-col span="4"
        ><router-link class="item" to="/news">News</router-link></van-col
      >
      <van-col span="4"
        ><router-link class="item" to="/contact">Contact</router-link></van-col
      >
    </van-row>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.header {
  top: 0%;
}
.menu {
  background: rgba(30, 0, 63, 0.651);
}
.menu .item {
  color: white;
  font-size: 18px;
  position: relative;
  text-align: center;
}
</style>