<template>
  <div class="body">
      <img src="../assets/404.gif" alt="">
  </div>
</template>

<script>
export default {
    name:'Notfound'
}
</script>

<style scoped>
.body {
  background-image: url(../assets/background.jpg);
  height: 100%;
  position: absolute;
  width: 100%;
}
</style>