<template>
  <div class="body">
    <div class="upload">
      <van-uploader
        v-model="fileList"
        multiple
        :max-count="10"
        :max-size="5000 * 1024"
        @oversize="onOversize"
      >
        <van-button round icon="plus" type="info">upload photos</van-button>
      </van-uploader>
      <van-button round type="primary" @click="submit()">submit</van-button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import qs from "qs";

export default {
  name: "AddGallery",
  components: {},
  data() {
    return {
      errors: {},
      fileList: [],
    };
  },
  methods: {
    submit() {
      let forms = new FormData();
      if (Array.isArray(this.fileList)) {
        this.fileList.map((file) => {
          forms.append("galleries", file.file);
        });
      } else {
        forms.append("galleries", this.fileList.file);
      }
      this.$axios
        .post("http://localhost:5000/gallery/uploadMulti", forms)
        .then((res) => {
          this.$router.push({ name: "Gallery" });
        })
        .catch((err) => {
          file.status = "failed";
          file.message = "uploading failed";
        });
    },
    onOversize() {
      console.log(file);
      Toast("file cannot bigger than 5mb");
    },
  },
};
</script>

<style scoped>
.body {
  background-image: url(../../assets/background.jpg);
  height: 100%;
  position: absolute;
  width: 100%;
}
.body .upload {
  text-align: center;
  margin-top: 25%;
}
</style>