<template>
  <div class="body">
    <div class="panel-heading">Galleries</div>
    <table class="table-contact">
      <thead>
        <tr>
          <th>Id</th>
          <th>Filename</th>
          <th>Destination</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="gallery in galleries" :key="gallery.index">
          <td>{{ gallery._id }}</td>
          <td>{{ gallery.filename }}</td>
          <td><img :src="gallery.destination"></td>
          <td>
            <van-button
              size="small"
              round
              @click="deleteGellary(gallery._id)"
              type="danger"
              loading-text="deleting..."
              >remove</van-button
            >
          </td>
        </tr>
      </tbody>
    </table>
    <div class="button-bottom">
        <van-button
        size="small"
        @click="addGellary()"
        type="info"
        loading-text="loading..."
        >add gellary</van-button
        >
      <van-button
        size="small"
        @click="deleteAll()"
        type="danger"
        loading-text="deleting..."
        >clear</van-button
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "Contact",
  data() {
    return {
      galleries: [],
    };
  },
  methods: {
    getGalleries() {
      this.$axios
        .get("http://localhost:5000/gallery/all")
        .then((res) => {
          this.galleries = Array.reverse(res.data) ;
        })
        .catch((err) => {
          if (err.response.data) {
            console.log(err.response).data;
          }
        });
    },
    deleteGellary(id) {
      this.$axios
        .delete("http://localhost:5000/gallery/", {
          params: { gal_id: id },
        })
        .then((res) => {
          this.getGalleries();
        })
        .catch((err) => {
          if (err.response.data) {
            alert(err.response.data.database);
          }
        });
    },
    deleteAll() {
      this.$axios
        .delete("http://localhost:5000/gallery/all")
        .then(() => {
          this.getGalleries();
        })
        .catch((err) => {
          if (err.response.data) {
            alert(err.response.data.database);
            console.log(err.response.data.database);
          }
        });
    },
    addGellary(){
        this.$router.push('/addGallery')
    }
  },
  created() {
    this.getGalleries();
  },
};
</script>

<style>
.body {
  background-image: url(../../assets/background.jpg);
  height: 100%;
  position: absolute;
  width: 100%;
}
.table-contact {
  margin: auto;
  text-align: center;
  color: white;
}
.button-bottom{
    margin-left: 50%;
}
</style>