<template>
  <div class="body">
    <div class="upload">
      <div class="title">
        <van-button class="back" round type="plus" @click="back"
          >back</van-button
        >
        Edit News
      </div>
      <form class="form" @submit.prevent="submit">
        <div class="form-group">
          <input
            type="text"
            class="form-control form-control-lg"
            v-model="activity.title"
            placeholder="Title"
          />
          <div v-show="errors.title" class="error-inform">
            {{ errors.title }}
          </div>
        </div>
        <div class="form-group">
          <textarea
            type="text"
            class="form-control form-control-lg"
            v-model="activity.content"
            placeholder="content"
          />
          <div v-show="errors.content" class="error-inform">
            {{ errors.content }}
          </div>
        </div>
        <van-button round type="primary">submit</van-button>
      </form>
      <div class="form-group">
        <div class="photos" v-for="photo in photos" :key="photo.index">
          <td><img :src="photo.destination" /></td>
          <td>
            <van-button
              size="small"
              round
              @click="deletePhoto(photo._id)"
              type="danger"
              loading-text="deleting..."
              >remove</van-button
            >
          </td>
        </div>
        <van-uploader
          v-model="fileList"
          multiple
          :max-count="10"
          :max-size="5000 * 1024"
          @oversize="onOversize"
        >
        </van-uploader>
        <van-button @click="uploadPhotos" round type="info"
          >upload photos</van-button
        >
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import qs from "qs";
import { Toast } from "vant";

export default {
  name: "AddActivity",
  components: {},
  data() {
    return {
      errors: {},
      fileList: [],
      photos: [],
      activity: {
        title: "",
        content: "",
      },
    };
  },
  created() {
    this.getActivity();
  },
  methods: {
    deletePhoto(id) {
      this.$axios
        .delete(
          "http://localhost:5000/party/photo/?party_id=" +
            this.$route.query.id +
            "&photo_id=" +
            id
        )
        .then((res) => {
          this.getActivity();
        })
        .catch((err) => {
          if (err.response.data) {
            alert(JSON.stringify(err.response.data));
          }
        });
    },
    getActivity() {
      this.errors = "";
      axios
        .get("http://localhost:5000/party/?party_id=" + this.$route.query.id)
        .then((res) => {
          this.activity.title = res.data.title;
          this.activity.content = res.data.content;
          this.photos = res.data.photos;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    uploadPhotos() {
      if (!this.fileList.length) {
        return alert("files empty!");
      }
      let form = new FormData();
      if (Array.isArray(this.fileList)) {
        this.fileList.forEach((file) => {
          form.append("photos", file.file);
        });
      } else {
        form.append("photos", this.fileList.file);
      }
      this.$axios
        .post(
          "http://localhost:5000/party/photo/?party_id=" + this.$route.query.id,
          form
        )
        .then((res) => {
          this.fileList = [];
          this.getActivity();
        })
        .catch((err) => {
          if (err.response.data) {
            alert(JSON.stringify(err.response.data));
          }
        });
    },
    submit() {
      let forms = new FormData();
      forms.append("title", this.activity.title);
      forms.append("content", this.activity.content);

      this.$axios
        .post(
          "http://localhost:5000/party/updateInfo?party_id=" +
            this.$route.query.id,
          forms
        )
        .then((res) => {
          this.$router.push({ name: "Activity" });
        })
        .catch((err) => {
          console.log(err);
        });
    },
    onOversize() {
      Toast("file cannot bigger than 5mb");
    },
    back() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scoped>
.body {
  background-image: url(../../assets/background.jpg);
  height: 100%;
  position: absolute;
  width: 100%;
}
.body .upload {
  text-align: center;
  margin-top: 15%;
}
.body .form {
  text-align: center;
}
.form-group {
  margin: 30px;
}
.form-group .form-control {
  width: 400px;
}
.form-group .error-inform {
  color: rgb(240, 6, 37);
  float: bottom;
}
.back {
  width: 100px;
  height: 30px;
  background: #3cf;
  position: relative;
  top: -10px;
  left: -10px;
  line-height: 30px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}
.title {
  color: white;
}
.photos td {
  float: left;
  color: white;
}
</style>