<template>
  <div class="body">
    <div class="panel-heading">Activity</div>
    <table class="table-contact">
      <thead>
        <tr>
          <th>title</th>
          <th>content</th>
          <th>date</th>
          <th>Photos</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="news in NewsAll" :key="news.index">
          <td>{{ news.title }}</td>
          <td>{{ news.content }}</td>
          <td>{{ news.date }}</td>
          <td>
            <div v-for="photo in news.photos" :key="photo.index">
              <img :src="photo.destination" />
            </div>
          </td>
          <td>
            <van-button
              size="small"
              round
              @click="editNews(news._id)"
              type="info"
              loading-text="editing..."
              >edit</van-button
            >
          </td>
          <td>
            <van-button
              size="small"
              round
              @click="deleteNews(news._id)"
              type="danger"
              loading-text="deleting..."
              >remove</van-button
            >
          </td>
        </tr>
      </tbody>
    </table>
    <div class="button-bottom">
      <van-button
        size="small"
        @click="addNews()"
        type="info"
        loading-text="loading..."
        >add News</van-button
      >
      <van-button
        size="small"
        @click="deleteAll()"
        type="danger"
        loading-text="deleting..."
        >clear</van-button
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "News",
  data() {
    return {
      NewsAll: [],
    };
  },
  methods: {
    getNews() {
      this.$axios
        .get("http://localhost:5000/news/all")
        .then((res) => {
          this.NewsAll = Array.reverse(res.data);
        })
        .catch((err) => {
          if (err.response.data) {
            console.log(err.response).data;
          }
        });
    },
    deleteNews(id) {
      this.$axios
        .delete("http://localhost:5000/news/delete/", {
          params: { news_id: id },
        })
        .then((res) => {
          this.getNews();
        })
        .catch((err) => {
          if (err.response.data) {
            alert(err.response.data.database);
          }
        });
    },
    deleteAll() {
      this.$axios
        .delete("http://localhost:5000/news/deleteAll")
        .then(() => {
          this.getNews();
        })
        .catch((err) => {
          if (err.response.data) {
            alert(err.response.data.database);
          }
        });
    },
    addNews() {
      this.$router.push("/addNews");
    },
    editNews(id) {
      this.$router.push({ path: "/editNews", query: { id: id } });
    },
  },
  created() {
    this.getNews();
  },
};
</script>

<style>
.body {
  background-image: url(../../assets/background.jpg);
  height: 100%;
  position: absolute;
  width: 100%;
}
.table-contact {
  margin: auto;
  text-align: center;
  color: white;
}
.button-bottom {
  margin-left: 50%;
}
.table-contact img {
  height: 40px;
  width: 40px;
}
.panel-heading {
  text-overflow: ellipsis;
	-o-text-overflow:ellipsis;
	overflow: hidden;
}

</style>