<template>
  <div class="app">
    <Navbar />
    <router-view />
    <Footer />
  </div>
</template>

<script>
import Navbar from "./components/Navbar";
import Footer from "./components/Footer";
export default {
  name: "App",
  components: {
    Navbar,
    Footer,
  },
};
</script>

<style scoped>
.app {
  height: 100%;
  width: 100%;
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-position: top left;
  background-position: 0px 0px;
  background-position: 100% 100%;
}
</style>
